---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";
---

<Layout title="Bellezza di Em">
  <main class="h-screen flex items-center text-[#6E6048]">
    <div class="mx-auto text-center flex items-center flex-col gap-2">
      <Header />
      <div class="flex flex-row gap-1">
        <a href="https://instagram.com/bellezzadi_em">
          <Icon name="mdi:instagram" size={40} />
        </a>
		<a href="mailto:hello@bellezzadiem.fr">
			<Icon name="mdi:at" size={40} />
		  </a>
      </div>
    </div>
  </main>
</Layout>
