---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import OnglerieHero from "../features/onglerie/components/OnglerieHero.astro";
import Pricing from "../features/onglerie/components/Pricing.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bellezza di Em">
  <main class="container mx-auto p-3">
    <Header />
    <OnglerieHero />
    <Pricing />
    <div class="container text-center mt-6">
      <Footer />
    </div>
  </main>
</Layout>
