<div class="flex items-center justify-between">
  <span>Propulsé par <a class="hover:underline" href="https://www.khalypso.fr">Khalypso</a></span>
  <div class="flex gap-5">
    <a href="/mentions-legales" class="hover:underline">Mentions légales</a>
    <a href="/contact" class="hover:underline">Contactez-moi</a>
  </div>
</div>
