---
import LinkFromHeader from "./LinkFromHeader.astro";
---
<header class="flex justify-between my-6 flex-col md:flex-row">
  <h1 class="font-dancingScript text-4xl text-center cursor-default transition-all drop-shadow-sm hover:drop-shadow-md"><a href="/">Bellezza di Em</a></h1>
  <nav class="flex flex-row gap-1 justify-center">
    <LinkFromHeader
      href="https://instagram.com/bellezzadi_em"
      ariaLabel="Aller sur la page instagram de bellezzadi_em"
      iconName="mdi:instagram"
    />
    <LinkFromHeader
      href="https://www.facebook.com/profile.php?id=61553612530846"
      ariaLabel="Aller sur la page facebook de Bellezza di Em"
      iconName="mdi:facebook"
    />
    <LinkFromHeader
      href="mailto:hello@bellezzadiem.fr"
      ariaLabel="Envoyer un mail à hello@bellezzadiem.fr"
      iconName="mdi:at"
    />
  </nav>
</header>