<section id="tarifs">
  <h2 class="text-center text-2xl font-semibold">Tarifs</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-3 mt-4 justify-items-center">
    <div
      class="flex flex-col bg-bellezzadiem-text text-white rounded-lg p-3 shadow-md max-w-sm min-w-full"
    >
      <h3 class="text-center font-semibold text-xl">Pose complète</h3>
      <ul class="mt-5 text-left space-y-2">
        <li>
          Semi permanent base gainante: <span class="font-semibold">40€</span>
        </li>
        <li>
          Rallongement + Semi permanent: <span class="font-semibold">60€</span>
        </li>
      </ul>
    </div>
    <div
      class="flex flex-col bg-bellezzadiem-text text-white rounded-lg p-3 shadow-md max-w-sm min-w-full"
    >
      <h3 class="text-center font-semibold text-xl">Remplissage</h3>
      <ul class="mt-5 text-left">
        <li>Dépose simple: <span class="font-semibold">30€</span></li>
        <li class="mt-4">
          Ongle court: <span class="font-semibold">30€</span>
        </li>
        <li>Ongle mi-long: <span class="font-semibold">40€</span></li>
        <li>Ongle long: <span class="font-semibold">50€</span></li>
        <li class="italic text-sm mt-3">
          Depuis une pose extérieure: <span class="font-semibold">+10€</span>
        </li>
      </ul>
    </div>
    <div
      class="flex flex-col bg-bellezzadiem-text text-white rounded-lg p-3 shadow-md max-w-sm min-w-full"
    >
      <h3 class="text-center font-semibold text-xl">Suppléments</h3>
      <ul class="mt-5 text-left space-y-2">
        <li>
          Baby boomer / baby color (dégradé): <span class="font-semibold"
            >+15€</span
          >
        </li>
        <li>French: <span class="font-semibold">+10€</span></li>
        <li>
          Effets (chrome, sirène, sucre): <span class="font-semibold"
            >+0,5€ par doigt</span
          >
        </li>
        <li>
          Déco / strass / nail art: <span class="font-semibold">Sur devis</span>
        </li>
      </ul>
    </div>
  </div>
</section>
