---
import { SEO } from "astro-seo";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <SEO
      title={title}
      charset="UTF-8"
      description="Bellezza di Em est une entreprise individuelle de prothésie ongulaire située à Cergy. Elle vous propose des prestations de qualité, adaptées à vos envies et à votre budget. Que vous souhaitiez une pose de gel, de vernis semi-permanent ou une décoration personnalisée, Bellezza di Em saura vous satisfaire. Prenez rendez-vous dès maintenant sur mon site web et profitez d’un moment de détente et de beauté."
      extend={{
        link: [{ rel: "icon", type: "image/png", href: "/favicon.png" }],
        // extending the default meta tags
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
  </head>
  <body class="bg-[#E1DCD0]">
    <slot />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
      html {
        font-family: system-ui, sans-serif;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
