---
import "@fontsource/dancing-script";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <SEO
      title={title}
      charset="UTF-8"
      description="Bellezza di Em est une entreprise individuelle de prothésie ongulaire située à Cergy."
      extend={{
        link: [
          { rel: "icon", type: "image/png", href: "/favicon.png" },
          { rel: "sitemap", href: "/sitemap-index.xml" },
        ],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
    <ViewTransitions />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R6F0C2JB2B"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-R6F0C2JB2B");
    </script>
  </head>
  <body class="bg-bellezzadiem-bg text-bellezzadiem-text">
    <slot />
  </body>
</html>
